body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  height: 96vh;width: 98vw;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  font-family: 'Space Mono', monospace;
  color: #FEFAE0;
}

.nav {
  display: flex;
  color: #DDA15E;
  font-size: 1.5rem;
  font-family: 'Space Mono', monospace;
  margin-left: 10px;
}

.nav a:visited {
  color:#DDA15E;
}

.nav li {
  margin-right: 30px;
  color: #95818D;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.form {
  margin: 0 auto;
  padding: 30px;
  font-size: 2em;
}

.container {
  max-width: 97vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2vw;
}

.centerContent {
  margin: 50px auto;
  text-align: center;
}

.header {
  color: #EEE1B3;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.horizontalList {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.horizontalList li {
  margin: 5px;
}

.homeHeader {
  margin-top: 20vh;
  font-size: 4rem;
  color: #DDA15E;
}

.formHeader {
  margin: 0 auto;
  padding: 2vw;
}

input {
  border: 1px solid gray;
}

.btn-primary {
  background-color: #8CB369;
  color:black;
  border: 1px solid black;
}
.btn-primary:hover {
  background-color: #517fa4;
}

.select {
  width: 400px;
  margin: 50px auto;
  text-align: center;
}